.switch {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 14px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DCDCDF;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18.4px;
    width: 18.4px;
    left: -3px;
    top: calc(50% - 20px/2);
    background-color: #F7F7F7;
    border: 1px solid rgba(137, 137, 147, 0.2);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #60C2AA;
    mix-blend-mode: normal;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(20px);
    background-color: #3BA189;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

