.radio-container {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 8px;
    gap: 10px;

    width: 48px;
    height: 48px;

    background: #FFFFFF;

    border: 1px solid #DCDCDF;
    border-radius: 1000px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.radio-input {
    display: none;
}

.radio-input:checked + .radio-container {
    background: #60C2AA;
}