.classChipButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 80px;

    width: 341px;
    height: 48px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.active-players_row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0px;
    gap: 16px;

    width: 717px;
    height: 72px;

    background: #FFFFFF;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.table .active-players_row td.first_colomn {
    display: flex;
    box-sizing: border-box;
    padding: 0;

    width: 360px;
    height: 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.24px;

    color: #373745;
    order: 0;
}

.table .active-players_row td.last_column {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 80px;

    width: 341px;
    height: 48px;

    flex: none;
    order: 1;
    flex-grow: 0;
}