#subject-list > .container > .subject-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#subject-list .subject-name {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #373745;
}

#subject-list .subject-percent {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #898993;
}

#subject-list .subject-icon {
    width: 24px;
    height: 24px;
}

#subject-list .subject-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}