#game-time {
    width: fit-content;
    padding: 24px;
    box-sizing: border-box;
    height: 88px;
    background: #EDEDED;
    border-radius: 12px;
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.25px;
    color: #373745;
}