.text-field__input {
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1px;
    display: flex;
    align-items: center;
    letter-spacing: 0.24px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px;

    width: 352px;
    height: 48px;
    padding: 12px 20px;
}

.text-field__input:focus {
    border-color: #DCDCDF;
    outline: 0;
}

.text-field__input::placeholder {
    color: #B1B1B7;
}

.text-field__input:hover {
    border-color: #60C2AA;;
    outline: 0;
}

.inputData {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;

    width: 352px;
    height: 48px;

    background: #FFFFFF;

    border: 1px solid #DCDCDF;
    border-radius: 12px;

    flex: none;
    order: 1;
    flex-grow: 0;
}



.inputLabel-class {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 352px;
    height: 80px;

    flex: none;
    flex-grow: 0;
}

.name {
    width: 352px;
}

.age {
    width: 72px;
}


.inputData:focus {
    border-color: #DCDCDF;
    outline: 0;
}

.inputData:hover {
    border-color: #60C2AA;;
    outline: 0;
}