#chat-container {
    box-sizing: border-box;
    flex: inherit;
    /* margin-bottom: 130px; */
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 88px;
    align-self: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0px 0px;
    gap: 20px;
    width: 412px;
    height: 851px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}

.msgs-container {
    box-sizing: border-box;
    /*height: 384px;*/
    width: 412px;
    display: flex;
    flex-direction: column;
    padding: 75px 0 0;
    gap: 12px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
}

.no-messages {
    position: absolute;
    width: 155px;
    height: 24px;
    left: 129px;
    top: 739px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;
    letter-spacing: 0.24px;

    color: #898993;
}

.msgs-container::-webkit-scrollbar {
    width: 7px;
    height: 30px;
}

.msgs-container::-webkit-scrollbar-track {
    background-color: rgba(246, 246, 246, 1);
}

.msgs-container::-webkit-scrollbar-thumb {
    background-color: #60C2AA ;
    border-radius: 100vw;
}

.msgs-container::-webkit-scrollbar:hover {
    background-color: blue;
}

.fade-up {
    position: absolute;
    width: 412px;
    height: 100px;
    /*left: 0px;*/
    top: 0px;

    background: linear-gradient(180deg, #F6F6F6 37.38%, rgba(255, 255, 255, 0) 100%);
}

.fade-down {
    position: absolute;
    height: 32px;
    left: 0;
    right: 0;
    bottom: 48px;

    background: linear-gradient(180deg, #F6F6F6 37.38%, rgba(255, 255, 255, 0) 100%);
    transform: rotate(-180deg);
}

.fade-up.invisible {
    display: none;
}

.fade-down.invisible {
    display: none;
}

