html {
    height: 100%;
    width: 100%;
}

body {
    background: rgba(246, 246, 246, 1);
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

h3 {
    width: 55px;
    height: 24px;
    margin: 0;
    align-self: center;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.24px;

    color: #373745;

    flex: none;
    flex-grow: 0;
}

.tables_body {
    background: rgba(246, 246, 246, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 64px;
}

.body_xo_panel {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vh;
    background: rgba(246, 246, 246, 1);
}

.error_text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #E93E3E;
    padding: 0;
    line-height: 16px;
}

#text {
    width: 100%;
    height: 36px;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    justify-content: center;
}

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

header {
    position: fixed;
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    left: 0;
    top: 0;
    z-index: 1000;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

placeholder {
    color: #B1B1B7;
}

#game-step {
    box-sizing: border-box;
    height: 48px;
    padding: 12px 69px;
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #373745;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 12px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}

#tables_container {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 32px 44px;
    gap: 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
    border-spacing: 0;
}

.fixed{
    width: 781px;
}

.scores_title {
    width: 100%;
    height: 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #373745;
    flex-grow: 0;
    margin: 0;
}

.table {
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border-spacing: 0;
}

.games-history {
    display: grid;
    gap: 8px;
}

.headTable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
}

.onlyFreeText {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 189px;
    height: 24px;

    background: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}

thead {
    width: 100%;
}

.score_row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 0px;
    gap: 16px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #EEEFF5;
    flex: none;
    order: 0;
    flex-grow: 0;
}


th {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
}

td {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}



.background-green {
    background: #60C2AA;
}

.background-light-green {
    background: #A8D37F;
}

.background-blue {
    background: #87CAE8;
}

.background-light-red{
    background: #EC7777;
}

.font-color-red {
    color: #E93E3E;
}










